<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>Cealum博客-分类</title>
</head>
<body style="min-width: 1200px">

<nav th:replace="adminHtml/_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>
<br>


<!--中间内容-->
<div class="m-container-min  m_padded_tb_big">
    <div class="ui container">


        <!--操作提示-->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>
        <table  style="table-layout:fixed;" class="ui celled table">
            <thead>
            <tr align="center">
                <th width="66px">序号</th>
                <th>分类名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,iterStat:${page.getRecords()}" align="center">
                <td th:text="${iterStat.count}">1</td>
                <td th:id="${type.id}" th:utext="${type.name}">笔记</td>
                <td>
                    <a class="ui mini teal basic button" th:id="${type.id} + 'update'">编辑</a>
                    <a class=" ui mini red basic button" th:id="${type.id} + 'delete'">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3">
                    <form th:action="@{/admin/types}" method="post" class="ui form">
                        <div th:if="${(page.getTotal)-(page.getSize())>=1}"  class="required field">
                            <div class="ui  mini pagination menu">
                                <a th:href="@{/admin/types(current=${page.getCurrent()}-1)}" th:unless="${page.getCurrent eq 1}"
                                   class=" item">上一页</a>
                                <a th:href="@{/admin/types(current=${page.getCurrent()}+1)}" th:unless="${page.getCurrent eq lastPage}"
                                   class=" item">下一页</a>
                            </div>
                            <input id="inp" type="text" style="width: 230px;float:right" name="name"
                                   placeholder="分类名称">
                            <button class="ui submit violet basic button m_margin_right_min right floated">新增</button>
                            <br><br>
                            <div class="ui error message"></div>
                        </div>
                    </form>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div id="modal" class="ui modal">
    <div class="header">您没有权限，请联系管理员升级</div>
    <div class="image content">
        <img class="image" width="300px" th:src="@{/images/wechat.png}">
        <div class="description">
            <p>此网站为个人网站</p>
            <p>管理员有权限操作所有数据</p>
            <p>如果有此需要，可加微信联系站主</p>
            <p>期待大家的加入，让此网站变得越来越好！</p><br><br>
            <p style="font-weight: 20">*作为一个真正的程序员,首先应该尊重编程,他是你的伙伴,而不是工具*</p>
            <p style="font-weight: 20">*程序员之所以犯错误，不是因为他们不懂，而是因为他们自以为什么都懂*</p>
        </div>
    </div>
</div>
<!--底部-->
<br/><br/><br/>
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m_opacity_mini m_padded_tb_big">
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script th:inline="javascript" type="text/javascript">
    $(".teal.button").click(function () {
        var user =/*[[${session.user}]]*/;
        if(user.type == 1){
            var id = parseInt(this.id);
            var content = $("#" + id).text();
            $("#" + id).html("<div class='ui input focus'>" +
                "<input type='text'  id='input' class='m_margin_type submit' name='newName'></div>");
            $("#input").focus();
            $('#input').bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    $("#input").blur();
                }
            });
        }else{
            upAccount();
        }

        $("#input").blur(function () {

            $.ajax({
                url: "update",
                data: {
                    id: id,
                    name: $("#input").val()
                },
                type: "post",
                dateType: "json",
                success: function (resp) {
                    $("#" + id).text(resp.name);
                    if (resp.name === null) {
                        alert("分类重复或未填写")
                        $("#" + id).text(content);
                    }
                }
            })
        })
    })
    $(".red.button").click(function () {
        var user =/*[[${session.user}]]*/;

        if(user.type == 1 ){
        var id = parseInt(this.id);
        $.ajax({
            url: "delete",
            data: {
                id: id,
            },
            type: "post",
            dateType: "json",
            success: function (resp) {
                window.location.reload()
            }
        })}
        else{
            upAccount();
        }
    })


</script>

<script>
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: '分类名称未填写'
                }]
            }
        }
    });

    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    $(document).ready(function () {
        $("#answer").popup({
            popup: $(".checkAnswer.popup"),
            on: "click",
            position: "top center"
        });
        $('.ui.dropdown').dropdown({
            on: 'hover'
        });
    })
    function upAccount() {
        $('#modal')
            .modal('show')
        ;
    }
</script>
</body>
</html>



