<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>Cealum博客-友链</title>
</head>
<body>

<nav th:replace="_fragments :: menu(1)" id="back-top"
     class="ui inverted m_shadow_small attached segment m_padded_tb_mini"></nav>


<!--底部-->
<br/><br/><br/>
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m_opacity_mini m_padded_tb_big">
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script>

    $(".wx").popup({
        popup: $(".wx-con.popup"),
        position: "left center"
    });
    
        /*移动端显示菜单*/
        $('.menu.toggle').click(function () {
            $('.m_item').toggleClass('m_mobile_hide');
        });
    /*生成二维码*/
    var qrcode = new QRCode("qrcode", {
        text: "http://qzjblog.cn/blog/friendlyLink",
        width: 90,
        height: 90,
        colorDark: "#BA55D3",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });
    /*返回顶部 ，平滑滚动*/
    $("#toTop").click(function () {
        $(window).scrollTo(0, 500);
    })
    /*监测滚动*/
    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if (direction === "down") {
                $("#tools").removeClass("animated fadeOutRight");
                $("#tools").show(0, function () {
                    $("#tools").addClass("animated fadeInRight");
                });
            } else if (direction === "up") {
                $("#tools").removeClass("animated fadeInRight");
                $("#tools").hide(200);
            }
        }
    })
</script>
</body>
</html>