<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta  http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link type="text/css" th:href="@{/lib/message/css/style.css}" rel="stylesheet" />
    <title>留言板</title>
</head>
<body>


<div class="screen">
    <div class="landscape"></div>
    <div class="filter"></div>
    <canvas id="canvas"></canvas>
    <div class="send">
        <div class="input clearfix">
            <input type="text" id="send"  class="text">
            <div class="btn" onclick="send()" >发送弹幕</div>
            <div onClick="javascript:window.open('/blog/','_self')" class="toIndex">返回首页
            </div>
        </div>
    </div>
    <div class="s_show">
        <div th:each="message : ${messages}" th:text="${message.message}" class="magictime twisterInUp">欢迎使用彩色星空弹幕</div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script type="text/javascript" th:src="@{lib/message/js/star.js}"></script>
<script type="text/javascript" th:src="@{lib/message/js/dan.js}"></script>
<script>
</script>
</body>
</html>
